@charset "UTF-8";



.container {
}


.container h3 {
    font-size:25px;
    font-spacing:3px;
    text-align:center;
}


.container p {
    font-size:15px;
    text-align:center;
}

.left {
	width:550px;
    float:left;
    padding-left:40px;
}

.right {
	width:430px;
    float:right;
    padding-right:40px;
}

.productName {
	font-size:20px
}

.box1 {
	border: solid 2px #e3e3e3;
	border-radius:10px;
	padding:10px 40px;
	margin-bottom:10px;
}

.detail {
    display:flex;

}

.box2 {
	padding-top:90px;
	padding-left:20px;
}


#form1 {
	border: solid 2px #e3e3e3;
	border-radius:10px;
	padding:20px;
}

.text {
	padding-top:3px;
}

.price {
	float:right;
	padding-top:30px;
	font-size:20px;
}


.buttom {
    display:flex;
}



