@CHARSET "UTF-8";

.addressList-box {

	text-align : left;


}

.address-box {

	display : inline-block;
	width : 30%;
	margin-left : 20px;
	margin-top : 15px;
	background-color:#EEEEEE;



}

.address-box table {

	margin-left : 20px ;
	margin-right : 20px ;
	margin-bottom : 20px ;

}

.selectform-box {

	margin : 0 auto;
	text-align : center;

}

.selectform-box  form {

	display : inline-block;
	margin : 40px 20px 0;


}