.float{
	float:left;
}
.float:after{
	display:table;
	clear:both;
	content:"";
}

th{
	font-size:5px;
}
.red{
	color:#A52A2A;
}

table{
	border-collapse:collapse;
	table-layout: fixed;
}
.left th, .left td{
    border-bottom: 1px solid #ddd;
    padding:0px 10px;
}
.left{
	border-radius:10px;
	width:auto;
}
.product p{
	line-height:0.5px;
	vdrtical-align:bottom;
}
.count{
	vertical-align:bottom;
	text-align:right;
}
.totalprice{
	vertical-align:bottom;
	text-align:right;
}

.right{
	float:left;
	width:20%;
}
.register{
	padding:20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-radius:10px;
	margin:20px;
}
.image img{
	width:150px;
}

.productlist, .delete{
	text-align:right;
}
.cartprice{
	font-size:15px
	text-align:right;
}


<!--画面遷移状態表示css-->
/* div.usccart_navi ol.ucart {
    position: relative;
    height: initial;
}
div.usccart_navi ol.ucart:after {
    display: block;
    content: '';
    clear: both;
}
div.usccart_navi ol.ucart:before {
    position: absolute;
    top: -15px;
    content: '\f07a';
    font-family: 'FontAwesome';
    font-size: 20px;
}
div.usccart_navi li.ucart {
    width: 25%;
    height: initial;
    line-height: normal;
    padding-top: 10px;
    background: transparent;
    border-top: 2px solid #ccc;
    color: #ddd;
}
#inside-cart li.usccart,
#customer-info li.usccart,
#customer-info li.usccustomer,
#delivery-info li.usccart,
#delivery-info li.usccustomer,
#delivery-info li.uscdelivery,
#info-confirm li.ucart {
    border-top-color: orange;
    color: orange;
}
#inside-cart ol.ucart:before {
    left: 11%;
}
#customer-info ol.ucart:before {
    left: 36%;
}
#delivery-info ol.ucart:before {
    left: 61%;
}
#info-confirm ol.ucart:before {
    left: 86%;
}

@media
only screen and (max-width : 40.061em) {
    div.usccart_navi li.ucart {
        width: 50%;
        margin-bottom: 20px;
    }
    #inside-cart ol.ucart:before {
        left: 23%;
        top: -13%;
    }
    #customer-info ol.ucart:before {
        left: 73%;
        top: -13%;
    }
    #delivery-info ol.ucart:before {
        left: 23%;
        top: 37%;;
    }
    #info-confirm ol.ucart:before {
        left: 73%;
        top: 37%;
    }
} */