input[type=submit].font-awesome {
    font-family: FontAwesome;
}

.floatleft{
	float:left;
}
.floatright{
	float:right
}
.floatleft:after, .floatright:after{
	display:table;
	clear:both;
	content:"";
}

.red{
	color:#A52A2A;
}
.lowerleft{
	text-align:center;
	vertical-align:center;
}


/*商品無し*/
.noproduct{
	text-align:center;
}

/*left*/
.left{
	border-radius:10px;
	width:70%;
}
table{
	border-collapse:collapse;
}

th{
	font-size:15px;
	background-color:lightgrey;
}
.left th.tag{
	border-right:1px solid grey;
	padding:10px 10px;
}
.left td.list {
    border-bottom: 2px solid #ddd;
    padding:10px 0px;
}
td.checkbox, td.image{
	text-align:center;
}
.image img{
	width:100px;
}

.product p{
	line-height:0.5px;
	vartical-align:bottom;
}
.productname{
	font-size:25px;
	text-align:center;
	line-height:2px;
	vertical-align:top;
}
.kana, .date, .company{
	vertical-align:bottom;
	color:grey;
	font-size:15px;
	margin-left:20px;
}
.price, .count, .totalprice{
	font-size:20px;
}
/*left_買い物,削除ボタン*/
.productlist, .delete{
	text-align:right;
}
.delete{
	padding-right:10px;
}

/*right*/

.right{
	float:left;
	width:25%;
}
.cartprice{
	font-size:30px;
	text-align:right;
}
.register{
	padding:20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-radius:10px;
	margin:20px;
}
.register button{
	width:100%;
}


<!--画面遷移状態表示css-->
/* div.usccart_navi ol.ucart {
    position: relative;
    height: initial;
}
div.usccart_navi ol.ucart:after {
    display: block;
    content: '';
    clear: both;
}
div.usccart_navi ol.ucart:before {
    position: absolute;
    top: -15px;
    content: '\f07a';
    font-family: 'FontAwesome';
    font-size: 20px;
}
div.usccart_navi li.ucart {
    width: 25%;
    height: initial;
    line-height: normal;
    padding-top: 10px;
    background: transparent;
    border-top: 2px solid #ccc;
    color: #ddd;
}
#inside-cart li.usccart,
#customer-info li.usccart,
#customer-info li.usccustomer,
#delivery-info li.usccart,
#delivery-info li.usccustomer,
#delivery-info li.uscdelivery,
#info-confirm li.ucart {
    border-top-color: orange;
    color: orange;
}
#inside-cart ol.ucart:before {
    left: 11%;
}
#customer-info ol.ucart:before {
    left: 36%;
}
#delivery-info ol.ucart:before {
    left: 61%;
}
#info-confirm ol.ucart:before {
    left: 86%;
}

@media
only screen and (max-width : 40.061em) {
    div.usccart_navi li.ucart {
        width: 50%;
        margin-bottom: 20px;
    }
    #inside-cart ol.ucart:before {
        left: 23%;
        top: -13%;
    }
    #customer-info ol.ucart:before {
        left: 73%;
        top: -13%;
    }
    #delivery-info ol.ucart:before {
        left: 23%;
        top: 37%;;
    }
    #info-confirm ol.ucart:before {
        left: 73%;
        top: 37%;
    }
} */