@CHARSET "UTF-8";


.main-container {

	width : 60%;
	margin : 0 auto 60px;

}

.main-container textarea {

	width : 80%;


}

.main-container input[type=submit] {

	margin-top: 40px;

}

.review-product-box {

	text-align : center;
	margin : 0 auto;

}

.review-product-box img {

	width : 50%;
	height : auto;


}

.review-score-star  {

	width : 48px;
	height : auto;
	cursor : pointer;

}

.main-container table {

	width : 80%;
	margin : 40px auto 0;
	border : 3px solid #A4A9CF;
	border-radius : 5px;
	border-collapse: collapse;


}

.main-container table th {

	width : 35%;
	padding: 20px 20px 20px 0;
	background-color: #A4A9CF;
	border : none;
	vertical-align : middle;


}

.main-container table td {

	width : 55%;
	padding: 20px 0 20px 20px;
	border-bottom : 2px solid #A4A9CF;

}
