@CHARSET "UTF-8";


.main-container {

	width : 60%;
	margin : 0 auto 60px;

}

.main-container textarea {

	width : 80%;


}

.main-container input[type=submit] {

	margin-top: 40px;

}

.review-product-box {

	text-align : center;
	margin : 0 auto;

}

.review-product-box img {

	width : 50%;
	height : auto;


}

.review-score-star  {

	width : 48px;
	height : auto;
	cursor : pointer;

}