@CHARSET "UTF-8";

/* テーブル */
table{
	width:80%;
	margin:0 auto;
	text-align:left;
}

/* 項目 */
.line{
	background-color:#FFF0F5;
	padding:10px;
}

/* ボタン */
.button{
	margin:0 auto;
	text-align:center;
}
.button form{
	display:inline-block;
	margin:20px 20px 0px;
}


/* パスワード「変更」ボタン
.pw-change-button{
	margin-left: 50px;
}
button.pw-change-button{
	font-size:17px;
	background-color:#EEEEEE;
	border-radius:5px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:10px;
	padding-left:10px;
}
button.pw-change-button:hover{
	background-color:white;
}
*/