@CHARSET "UTF-8";




th, td{
    border-top: 3px solid #ddd;
}

table {

	border-bottom :  3px solid #ddd;

}

#left{
	float:left;
}
#right{
	float:left;
}
p{
	line-hight:1px;
}

.addPrice {

	display : none;

}