@CHARSET "UTF-8";

/*
.title{
	font-size:35px;
	margin-top:40px;
	text-align:center;
}
*/

.message{
	font-size:20px;
	text-align:center;
}

/* テーブル全般 */
table {
	margin-left: auto;
	margin-right: auto;
	border:3px solid #ddd;
}
.tableTopics {
	background-color:#FFF0F5;
}
th{
	line-height:50px;
	padding-right:5px;
	padding-left:5px;
}
th.productId-th {
	border-top: 3px solid #ddd;
	background-color:#EEEEEE;
}
td{
	border-top: 3px solid #ddd;
}
td:nth-child(3) {
	border-right : 3px solid #ddd;
}

/* 「商品番号」欄 */
td.addPrice-td {
	border : none;
}

/* 「商品画像」欄 */
td.image{
	padding:15px;
}

/* 「購入情報」欄 */
.purchaseProductInfo{
	line-height:10px;
	padding-top:10px;
	padding-right:20px;
	padding-left:15px;
}

/*
[レビューを投稿する]ボタン
.review-button{
	text-align:center;
}
#main button.review-button{
	font-size:17px;
	background-color:#EEEEEE;
	border-radius:5px;
	padding-top:3px;
	padding-bottom:3px;
	padding-right:10px;
	padding-left:10px;
}
#main button.review-button:hover{
	background-color:white;
}
#main button img {
	height : 25px;
	width : 25px;
}
*/

/* 「お届け先」欄 */
.purchaseAddress{
	line-height:15px;
	padding-right:30px;
	padding-left:30px;
}
.addPrice {
	display : none;
}

/* [戻る]ボタン、[履歴をすべて削除]ボタン、[レビューを投稿する]ボタン */
.button{
	margin:0 auto;
	text-align:center;
}
.button form{
	display:inline-block;
	margin:40px 20px 30px;
}
button img {
	height : 25px;
	width : 25px;
}