@CHARSET "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

/* ======== Reset Css→ ======== */

body {

	margin : 0;
	padding : 0;

}

div {
	margin : 0;
	padding : 0;
	border : none;
}

a {
	text-decoration : none;
	color : black;
	transition : all 0.3s;
}

a:hover {
	color: grey;
	opacity : 0.8;
}

ol,ul {
	list-style : none;
	margin : 0;
	padding : 0;
}

img {

	margin : 0;
	padding : 0;
	vertical-align: middle;

}



form {

	margin : 0;
	padding : 0;

}

/* ======== →Reset Css ======== */

/* ======== 共通のCss→ ======== */

body {
    font-family: 'Mplus 1p',sans-serif;
    font-size : 16px;

    background-image : url("../BackgroundImage/homeBackground.jpg");
    background-position : center center;
    background-size : cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1,h2,h3,h4,h5 {

    font-family: "Yu Gothic Medium",Yu Gothic, sans-serif;

}

#main {

	min-height : 400px;

}

.container {

    overflow : hidden;
    width : 1080px;
    padding : 20px 10px;
    margin : 0 auto;


}

.header-container {

    overflow : hidden;
    max-width : 1080px;
    width : 100%;
    padding : 0 30px 30px;
    margin : 0 auto;


}


/* ======== 各部品のCss→ ======== */

input,textarea {

	margin-top : 0.5em;
	padding : 6px;

	font-family : 'Mplus 1p';
	font-size : 1rem;

	border : 1px solid #ccc;
	border-radius : 6px;
}



/* input:valid {

    background-color: transparent;
} */

input:focus, textarea:focus {

	background-color : #fff0b5;

}
textarea {
    resize: none;
}

input[type="submit"] {

	display : block;
	cursor : pointer;
    padding : 10px 20px;
    margin : 10px auto;
    position : relative;

	border : none;
    border-radius: 10px;
    border-bottom : 3px solid #7379AE;

    background-color : #A4A9CF;

    font-size : 1rem;
    font-weight : bold;
    color: #fff;

    transition : all 0.3s;


}

input[type="submit"]:hover {

	border : none;
	border-bottom : 3px solid transparent;
	top : 3px;
    opacity : 0.7;
}

select {

	width : 150px;
	height : 30px;
	pading-left : 5px;

}

.introduce-msg {

	position: relative;
	padding: 0.6em;
	background: #e0edff;

}

.introduce-msg:after {

position: absolute;
content: '';
top: 100%;
left: 30px;
border: 15px solid transparent;
border-top: 15px solid #e0edff;
width: 0;
height: 0;
}


.small-msg {

	margin : 0;
	padding : 0;
	font-size :14px;
	font-family : 'Impact';
}

.error-msg, .caution-msg {

	color :red;

}

.error-msg {

	font-weight : bold;

}

/*.check-box {

	display : inline-block;
	position :relative;
	box-sizing : border-box;
	border : 1px solid black;

	border-radius : 6px;

	width : 16px;
	height : 16px;
	cursor : pointer;

	background-color : white;

}*/

/* 横並びにするCSS */

.select-box-outer {

	text-align : left;


}



.select-box {

	width : 30%;
	margin : 0 1%;
	display : inline-block;
	text-align : center;


}

/* ======== →各部品のCss ======== */


/* ======== headerのcss→ ======== */

header {

    width : 100%;
    min-height : 90px;
    padding-top : 20px;
    padding-bottom : 20px;
    margin-bottom : 60px;

    background-color: #6EB7DB;

    text-align : center;

    position : relative;
    z-index : 100;

}




#header-left {

	width : 320px;
    height : 160px;

	display : inline-block;
	box-sizing : border-box;
	color : black;
	text-align : center;
	vertical-align : top;

	font-weight : bold;

}

#header-center {

	width : 400px;
    height : 160px;
	text-align : center;
	vertical-align : middle;
	display : inline-block;
	box-sizing : border-box;

}

#header-right {

	width : 320px;
    height : 160px;
	color : black;
	display : inline-block;
	vertical-align : middle;
	box-sizing : border-box;

}






#header-left p {

	margin-bottom : 10px;
}

#header-left button {

	background-color : white;
	border : none;
	padding : 5px;
	margin : 0;
	border-radius: 3px;
	vertical-align : top;
	cursor : pointer;

}


#header-left #retrieval-form input {

	margin : 0;
	height : 28px;


}

#header-left select {

	width : 43%;

}


#header-center img {

	width : 300px;
	height : auto;
	margin-top : 30px;
}

#header-center p {

	text-shadow : 2px 2px rgba(100,100,100,0.4);

}



#header-right .menu-box {

	margin-top : 48px;

}


#header-right ul {

	text-align : center;

}

#header-right li {

	display : inline-block;
	vertical-align : middle;
	background-color : white;

	height : 35px;
	padding : 0px 8px;
	margin-left: 5px;
	margin-bottom : 20px;


	font-size : 12px;
	font-weight : bold;
	line-height : 35px;
	border-radius : 4px;

}



#header-right img {

    margin-bottom : 3px;
	margin-left: 8px;

}


  /* スクロールボタン→ */

  #scroll-button {

	cursor : pointer;

  	width : 50px;
  	height : 50px;

	z-index : 200;
  	position : fixed;

  	bottom : 40px;
  	right : -55px;

	border-radius : 50%;
	overflow : hidden;


  }

  #scroll-button img {

  	width : 100%;
  	height : auto;
  	background-color : white;

  }





  /* →スクロールボタン */



	/* →背景にかぶせる画像*/

		.categoryLogo {

			position : fixed;
			z-index : -10;
			cursor : pointer;

		}

		#chairLogo.categoryLogo{

			width : 20%;
			left : 10%;
			bottom : -50px;
			z-index : -6;
		}

		#sofaLogo.categoryLogo {

			width : 25%;
			right : 20%;
			bottom : 50px;

		}

		#tableLogo.categoryLogo{

			width : 30%;
			left : 20%;
			bottom : 30px;

		}

		#lightingLogo.categoryLogo {

			width : 10%;
			right : 10%;
			bottom : -5px;
			z-index : -6;

		}

		.categoryLogo img{

			width : 100%;
			height : auto;

		}


	/* 背景にかぶせる画像→*/

/* ======== →headerのcss ======== */





/* ======== mainのcss→ ======== */


#main {

	overflow : hidden;
	width : 100%;
	margin-top : 60px;



}

#main .container {

	background-color : white;
	border-radius : 5px;

}

#Vague-Logo {

	margin : 0 auto;
	width : 400px;
	height : 408px;
	position : relative;

	background: #B2CF3E;

	border-radius : 50%;


}

#Vague-Logo img {

	width : 111%;
	height : auto;

	position : absolute;
	top: -25px;
	right : -21px;
}
/* ======== →mainのcss ======== */


/* ======== footerのCss→ ======== */

footer {

	height : 110px;
	margin-top : 60px;
	padding-top : 30px;
	padding-bottom : 80px;

	text-align : center;
	background-color : #6EB7DB ;

	position : relative;
	z-index : 100;

}

footer h2 {

	font-size : 40px;
	padding : 0;
	margin : 0;
	margin-bottom : 30px;
}

/* ======== →footerのCss ======== */





/* ======== →共通のCss ======== */